<div class="user-top">
  <span class="user-name"><%= @user.name + "'s bits" %></span>
</div>

<%= render @items %>

<%= paginate @items %>

<% if current_user %>
<div id="bookmarklet">
  Drag this to your Bookmarks Bar: <%= link_to 'Post', '' %>
</div>

<% end %>