<h1>Bits <span id="newItem"><%= link_to 'New Item', new_item_path, id: 'newItem' if current_user %></span></h1>

<div id="items">

  <%= render @items %>

</div> <!-- #items -->
<%= paginate @items %>