<h1>Bits <span id="newItem"><%= link_to 'New Item', new_item_path, id: 'newItem' %></span></h1>

<div id="items">

  <%= render @items %>

</div> <!-- #items -->

<div id="bookmarklet">
  Drag this to your Bookmarks Bar: <%= link_to 'Post', '' %>
</div>