div#items {
}
.item {
  background: #ebebeb;
  border: 1px solid darken(#ebebeb, 25%);
  border-radius: 3px;
  margin: 0 0 4em;
  
  .item-header,
  .description,
  .meta {
    padding: 20px;
  }
  
  .item-header {
    border-bottom: 1px solid darken(#ebebeb, 15%);
    box-shadow: 0px 1px 0px 0px white;
    margin-bottom: 1em;
  }
  
  .url a {
    color: #999;
    font-size: $base-font-size-small;
  }
  
  h2 {
    line-height: 1.2em;
    
    > a {
      border-radius: 3px;
      color: $textColor;
      position: relative;
      
      &:hover {
        color: lighten($textColor, 50%);
        top: 2px;
      }
    }
    
    .permalink {
      font-size: $base-font-size-small;
      vertical-align: middle;
    }
  }
    
  .url {
    color: #777;
    margin: .2em 0 0 0.7em;
  }
  
  .description {
    border-radius: 3px;
    line-height: 1.8em;
    margin-bottom: 1em;
    overflow: scroll;
    
    a {
      color: #444;
      border-bottom: 1px dashed #444;
      
      &:hover {
        color: #000;
      }
    }
  }
  
  .meta {
    text-align: left;
    font-size: .8em;
    
    a.edit, a.permalink, a.delete {
      padding: .3em;
      
      &:hover {
        background: white;
      }
    }
  }
  
  a.delete:hover {
    color: #f00;
  }
}

.edit_item .delete {
  padding-left: 19px;
  
  &:hover {
    color: #f00;
  }
}

#newItem {
  text-align: center;
  margin-left: 1em;
  background: #333;
  border-radius: 1em;
  
  a {
    color: #f5f5f5;
    background: transparent url(new.png) no-repeat 9px 9px;
    padding: 0 24px 0 70px;
  }
}

#bookmarklet {
  border-radius: 4px;
  width: 798px;
  line-height: 1.5em;
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  background: #F5F5F5;
  color: #333;
  text-align: center;
  border: 1px solid #bbb;
  
  > a {
    border-radius: 4px;
    padding: .2em .5em;
    background: #323232;
    color: #eee;
  }
}

nav.pagination {
  text-align: right;
  margin-bottom: 1.2em;
  
  .page a, .next a, .prev a {
    color: #999;
    
    &.current {
      color: black;
    }
  }
}

#markdown-cheat-sheet {
  clear: both;
  padding: 1em 0;
  
  .left, .right {
    padding: 0;
    margin: 1px inherit;
    display: inline-block;
    width: 388px;
  }
  
  .left pre, .right {
    padding: 5px 8px;
  }
  
  .left {
    vertical-align: top;
    border: 1px solid darken(#333, 10%);
  }
  
  .right {
    background: #F8F7F1;
    border: 1px solid darken(#F8F7F1, 10%);
  }
  
  a {
    text-decoration: underline;
  }
}

#show-md-sheet {
  float: right;
  cursor: pointer;
  color: #444;
}