article.item {
  background: $bg-shade-1;
  padding: 30px;
  position: relative;
    
  h2 {
    font-size: $font-size-3;
    font-weight: bold;
    margin-bottom: 1em;
    text-shadow: 0 1px 0 #fff;
  }
    
  section.description {
    font-size: $font-size-3;
    margin-bottom: 1.5em;
  }
    
  span.author {
    a {
      border-radius: 1em;
      color: rgba(0,0,0,0.5);
      font-size: $font-size-2;
      padding: .2em .7em;
        
      &:hover {
        color: rgba(0,0,0,0.8);
      }
    }
  }
}

section.meta {
  text-align: right;
      
  a {
    background: $bg-shade-1;
    padding: .2em .7em;
  }
}