#session {
  text-align: right;
  padding: 1em 0;
  margin-bottom: 2em;
  
  a {
    padding: .2em 1.1em;
    border: 1px solid transparent;
    border-radius: $base-border-radius;
    
    &:hover {
      background: #e2e2e2;
      border-color: #aaa;
    }
  }
}