// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "sassVars.css.scss";

.user {
  @include roundedCorners;
  font-size: 2em;
  margin-bottom: 1em;
  
  .edit-user {
    display: none;
  }
  
  &:hover .edit-user {
    display: inline;
  }
}

.item > .meta .author, .author {
  @include roundedCorners(1em);
  padding: .3em .7em;
      
  &.color-a { background-color: adjust-color(#E21509, $lightness: 20%, $saturation: -10%); }
  &.color-b { background-color: adjust-color(#FF8701, $lightness: 20%, $saturation: -10%); }
  &.color-c { background-color: adjust-color(#D5FF00, $lightness: 20%, $saturation: -10%); }
  &.color-d { background-color: adjust-color(#48E2A9, $lightness: 20%, $saturation: -10%); }
      
  &:hover {
    color: #444;
  }
}